@page "/AliquotCatalog"
@using BV.PACS.Client.Shared.Catalogs
@using BV.PACS.Shared.Models
@using Microsoft.AspNetCore.Components
@inherits BV.PACS.Client.Shared.Catalogs.CatalogComponent<BV.PACS.Shared.Models.AliquotListItem>
@inject HttpClient _http

<h1>Aliquot Catalog</h1>


<div class="row">
    <div class="@CatalogState.SearchPanelCssClass">
        <AliquotSearchPanel OnSearch="@OnSearchPanelSearch">

        </AliquotSearchPanel>
    </div>

    <div class="@CatalogState.GridPanelCssClass">
        <div class="row">

            <div class="col-sm-12">
                <button onclick="@OnSearchPanelToggle" class="btn btn-info float-right">@CatalogState.ShowHideSearchPanelCaption</button>
            </div>
            <div class="col-sm-12">
                <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
                    <DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">
                        <Template>
                            <DxDataGrid Data="@DataSource"
                                        ShowFilterRow="@false"
                                        ShowPager="@false"
                                        AllowRowSelection="@false"
                                        PageSize="@CatalogState.Condition.PageSize">
                                <DxDataGridCommandColumn Width="150px"></DxDataGridCommandColumn>
                                <DxDataGridColumn Field="@nameof(AliquotListItem.AliquotBarcode)"></DxDataGridColumn>
                                <DxDataGridColumn Field="@nameof(AliquotListItem.AliquotTemplateName)" Caption="Template Name"></DxDataGridColumn>
                                <DxDataGridDateEditColumn Field="@nameof(AliquotListItem.AliquotCreationDate)"></DxDataGridDateEditColumn>
                                <DxDataGridColumn Field="@nameof(AliquotListItem.AliquotStatus)"></DxDataGridColumn>
                            </DxDataGrid>
                            @if (PageCount > 1)
                            {
                                <DxPager PageCount=@PageCount
                                         bind-ActivePageIndex=@ActivePageNumber
                                         CollapseButtonCount=@CatalogState.CollapseButtonCount>
                                </DxPager>
                            }
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </div>
        </div>
    </div>
</div>


@functions {

   

}