@page "/SourceCatalog"
@using BV.PACS.Client.Catalogs
@using BV.PACS.Client.SearchPanels
@using BV.PACS.Shared.Models
@inherits BV.PACS.Client.Catalogs.BaseCatalog<BV.PACS.Shared.Models.SourceListItem>

<h1>Source Catalog</h1>

<div class="row">
    <div class="@CatalogState.SearchPanelCssClass">
        <SourceSearchPanel OnSearch="@OnSearchPanelSearch">

        </SourceSearchPanel>
    </div>

    <div class="@CatalogState.GridPanelCssClass">
        <div class="row">

            <div class="col-sm-12">
                <button onclick="@OnSearchPanelToggle" class="btn btn-primary float-right" style="margin-bottom: 16px;">@CatalogState.ShowHideSearchPanelCaption</button>
            </div>
            <div class="col-sm-12">
                <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
                    <DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">
                        <Template>
                            <DxDataGrid Data="@DataSource"
                                        ShowFilterRow="@false"
                                        ShowPager="@false"
                                        RowEditStart=@(dataItem => OnRowEditRedirecting(nameof(SourceTracking), dataItem.SourceId))
                                        AllowRowSelection="@false"
                                        PageSize="@CatalogState.Condition.PageSize">
                                <DxDataGridCommandColumn Width="150px"></DxDataGridCommandColumn>
                                <DxDataGridColumn Field="@nameof(SourceListItem.SourceBarcode)"></DxDataGridColumn>
                                <DxDataGridColumn Field="@nameof(SourceListItem.SourceTemplateName)" Caption="Template Name"></DxDataGridColumn>
                                <DxDataGridDateEditColumn Field="@nameof(SourceListItem.SourceCreationDate)"></DxDataGridDateEditColumn>
                                <DxDataGridColumn Field="@nameof(SourceListItem.SourceType)"></DxDataGridColumn>
                            </DxDataGrid>
                            @if (PageCount > 1)
                            {
                                <DxPager PageCount=@PageCount
                                         bind-ActivePageIndex=@ActivePageNumber
                                         CollapseButtonCount=@CatalogState.CollapseButtonCount>
                                </DxPager>
                            }
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </div>
        </div>
    </div>
</div>

