@using BV.PACS.Shared.Models
@inherits BV.PACS.Client.Shared.Base.GridPanel<BV.PACS.Shared.Models.MaterialAliquotGridDto,  BV.PACS.Client.I18nText.Text>

@{
    if (DataSource == null)
    {
        <div class="row">Loading...</div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
                    <DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">
                        <Template Context="GridContext">
                            <DxDataGrid Data="@DataSource"
                                        ShowFilterRow="@false"
                                        ShowPager="@true"
                                        AllowRowSelection="@false"
                                        PageSize="@BaseSettings.PageSize">

                                <DxDataGridColumn Field="@nameof(MaterialAliquotGridDto.AliquotBarcode)"></DxDataGridColumn>
                                <DxDataGridColumn Field="@nameof(MaterialAliquotGridDto.AliquotTemplateName)"></DxDataGridColumn>
                                <DxDataGridDateEditColumn Field="@nameof(MaterialAliquotGridDto.AliquotCreationDate)"></DxDataGridDateEditColumn>
                               <DxDataGridColumn Field="@nameof(MaterialAliquotGridDto.AliquotStatus)"></DxDataGridColumn>
                                <DxDataGridColumn Field="@nameof(MaterialAliquotGridDto.DerivativeType)"></DxDataGridColumn>
                                <DxDataGridColumn Field="@nameof(MaterialAliquotGridDto.LocationPath)"></DxDataGridColumn>
                            </DxDataGrid>

                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayout>

            </div>
        </div>
    }
}


@functions {
}