@using BV.PACS.WEB.Shared.Models
@using Microsoft.AspNetCore.Components
@inherits BV.PACS.WEB.Client.Materials.BatchRegistrationPanelCode



    <div class="row">
     
        <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
            <DxFormLayoutItem Caption="@Translations.RegistrationDate" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox Text="Not implemented"></DxTextBox>
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="@Translations.PerformedBy" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox Text="Not implemented"></DxTextBox>
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="@Translations.WitnessedBy" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox Text="Not implemented" ></DxTextBox>
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="@Translations.ApprovedBy" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox Text="Not implemented" ></DxTextBox>
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="@Translations.DeliveredBy" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox Text="Not implemented" ></DxTextBox>
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="@Translations.DeliveredFrom" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox Text="Not implemented" ></DxTextBox>
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="@Translations.Department" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox Text="Not implemented" ></DxTextBox>
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="@Translations.Notes" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox Text="Not implemented" ></DxTextBox>
                </Template>
            </DxFormLayoutItem>

        </DxFormLayout>
    </div>

