@using BV.PACS.WEB.Shared.Models
@inherits BV.PACS.WEB.Client.Materials.BatchContentPanelCode


<div class="row">
    <div class="col-sm-12">
        <EditForm Model="@TemplatesViewModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" Context="EditFormContext">
            <DataAnnotationsValidator/>
            <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
                <DxFormLayoutItem Context="InnerFormContext" ColSpanLg="10" ColSpanMd="10">
                    <Template>
                        <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
                            <DxFormLayoutItem Caption="@Translations.SourceTemplate" ColSpanLg="4" ColSpanMd="6">
                                <Template>
                                    <DxComboBox Data="@SourceTemplates"
                                                TextFieldName="Name"
                                                NullText="@PacsMessagesTranslations.SelectTemplate"
                                                @bind-SelectedItem="@TemplatesViewModel.SourceTemplate">
                                    </DxComboBox>
                                    <ValidationMessage For="@(() => TemplatesViewModel.SourceTemplate)" />
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="@Translations.MaterialTemplate" ColSpanLg="4" ColSpanMd="6">
                                <Template>
                                    <DxComboBox Data="@MaterialTemplates"
                                                TextFieldName="Name"
                                                NullText="@PacsMessagesTranslations.SelectTemplate"
                                                @bind-SelectedItem="@TemplatesViewModel.MaterialTemplate">
                                    </DxComboBox>
                                    <ValidationMessage For="@(() => TemplatesViewModel.MaterialTemplate)" />
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="@Translations.AliquotTemplate" ColSpanLg="4" ColSpanMd="6">
                                <Template>
                                    <DxComboBox Data="@AliquotTemplates"
                                                TextFieldName="Name"
                                                NullText="@PacsMessagesTranslations.SelectTemplate"
                                                @bind-SelectedItem="@TemplatesViewModel.AliquotTemplate">
                                    </DxComboBox>
                                    <ValidationMessage For="@(() => TemplatesViewModel.AliquotTemplate)" />
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="@Translations.Sources" ColSpanLg="4" ColSpanMd="6">
                                <Template>
                                    <DxSpinEdit @bind-Value="@TemplatesViewModel.SourceCount"></DxSpinEdit>
                                    <ValidationMessage For="@(() => TemplatesViewModel.SourceCount)" />
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="@Translations.Materials" ColSpanLg="4" ColSpanMd="6">
                                <Template>
                                    <DxSpinEdit @bind-Value="@TemplatesViewModel.MaterialCount"></DxSpinEdit>
                                    <ValidationMessage For="@(() => TemplatesViewModel.MaterialCount)" />
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="@Translations.Aliquots" ColSpanLg="4" ColSpanMd="6">
                                <Template>
                                    <DxSpinEdit @bind-Value="@TemplatesViewModel.AliquotCount"></DxSpinEdit>
                                    <ValidationMessage For="@(() => TemplatesViewModel.AliquotCount)" />
                                </Template>
                            </DxFormLayoutItem>
                        </DxFormLayout>
                    </Template>
                </DxFormLayoutItem>

                <DxFormLayoutItem Context="ButtonContext" ColSpanLg="2" ColSpanMd="2">
                    <Template>
                        <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
                            <DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">
                                <Template>                                
                                    <button type="submit" class="btn btn-primary btn-block" style="margin-top: 80px;">@Translations.Generate</button>
                                </Template>
                            </DxFormLayoutItem>

                        </DxFormLayout>
                    </Template>
                </DxFormLayoutItem>

            </DxFormLayout>
        </EditForm>
    </div>

    <div class="col-sm-12">
        @if (DataSource != null && DataSource.Count > 0)
        {
            <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
                <DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">
                    <Template Context="GridContext">
                        <DxDataGrid Data="@DataSource"
                                    ShowFilterRow="@false"
                                    ShowPager="@false"
                                    AllowDataRowSelection="@true"
                                    PageSize="@BaseSettings.MaxBatchRegistrationSize"
                                    RowUpdating=@((updatingDataItem, newValues) => OnRowUpdating(updatingDataItem, newValues))>

                            <DxDataGridCommandColumn Width="150px"></DxDataGridCommandColumn>
                            <DxDataGridColumn Field="@nameof(BatchRegistrationDto.SourceBarcode)" Caption="@Translations.SourceBarcode">

                            </DxDataGridColumn>

                            <DxDataGridColumn Field="@nameof(BatchRegistrationDto.SourceTemplateName)" Caption="@Translations.SourceTemplate">
                                <EditTemplate>
                                    @{
                                        var editingContext = (CellEditContext)context;
                                        var templateId = (string)editingContext.GetEditorValue(nameof(BatchRegistrationDto.SourceTemplateId));
                                        var template = SourceTemplates.FirstOrDefault(t=>t.Id == templateId);
                                        //  Console.WriteLine(template);
                                    }

                                    <DxComboBox Data="@SourceTemplates"
                                                NullText="@PacsMessagesTranslations.SelectTemplate"
                                                SelectedItem=@template
                                                SelectedItemChanged=@(newCellValue =>
                                                                      {
                                                                          Console.WriteLine(newCellValue);
                                                                          //   Console.WriteLine(newCellValue?.Id);
                                                                         editingContext.OnChanged(newCellValue);
                                                                          // editingContext.OnChanged(nameof(BatchRegistrationDto.SourceTemplateName), newCellValue.Name);
                                                                          // editingContext.OnChanged(nameof(BatchRegistrationDto.SourceTemplateId), newCellValue.Id);
                                                                      })>
                                    </DxComboBox>


                                </EditTemplate>
                            </DxDataGridColumn>


                            <DxDataGridColumn Field="@nameof(BatchRegistrationDto.SourceTypeId)" Caption="@Translations.SourceType">
                            </DxDataGridColumn>

                            <DxDataGridDateEditColumn Field="@nameof(BatchRegistrationDto.MaterialBarcode)" Caption="@Translations.MaterialBarcode">
                            </DxDataGridDateEditColumn>

                            <DxDataGridColumn Field="@nameof(BatchRegistrationDto.MaterialTemplateName)" Caption="@Translations.MaterialTemplate">
                            </DxDataGridColumn>

                            <DxDataGridColumn Field="@nameof(BatchRegistrationDto.MaterialTypeId)" Caption="@Translations.MaterialType">
                            </DxDataGridColumn>

                            <DxDataGridColumn Field="@nameof(BatchRegistrationDto.AliquotBarcode)" Caption="@Translations.AliquotBarcode">
                            </DxDataGridColumn>

                            <DxDataGridColumn Field="@nameof(BatchRegistrationDto.AliquotTemplateName)" Caption="@Translations.AliquotTemplate">
                            </DxDataGridColumn>

                            <DxDataGridColumn Field="@nameof(BatchRegistrationDto.AliquotLocation)" Caption="@Translations.AliquotLocation">
                            </DxDataGridColumn>
                        </DxDataGrid>

                    </Template>
                </DxFormLayoutItem>
            </DxFormLayout>
        }
    </div>
</div>