@using BV.PACS.WEB.Shared.Models
@using BV.PACS.WEB.Shared.Utils
@inherits BV.PACS.WEB.Client.Materials.BatchContentPanelCode


<div class="row">
    <div class="col-sm-12">
        <EditForm Model="@TemplatesViewModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" Context="EditFormContext">
            <DataAnnotationsValidator />

            <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
                <DxFormLayoutItem  Context="InnerFormContext" ColSpanLg="10" ColSpanMd="10">
                    <Template>
                        <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
                            <DxFormLayoutItem Caption="@Translations.SourceTemplate" ColSpanLg="4" ColSpanMd="6">
                                <Template>
                                    <DxComboBox Data="@SourceTemplates"
                                                TextFieldName="Name"
                                                NullText="@PacsMessagesTranslations.SelectTemplate"
                                                @bind-SelectedItem="@TemplatesViewModel.SourceTemplate">
                                    </DxComboBox>
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="@Translations.MaterialTemplate" ColSpanLg="4" ColSpanMd="6">
                                <Template>
                                    <DxComboBox Data="@MaterialTemplates"
                                                TextFieldName="Name"
                                                NullText="@PacsMessagesTranslations.SelectTemplate"
                                                @bind-SelectedItem="@TemplatesViewModel.MaterialTemplate">
                                    </DxComboBox>
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="@Translations.AliquotTemplate" ColSpanLg="4" ColSpanMd="6">
                                <Template>
                                    <DxComboBox Data="@AliquotTemplates"
                                                TextFieldName="Name"
                                                NullText="@PacsMessagesTranslations.SelectTemplate"
                                                @bind-SelectedItem="@TemplatesViewModel.AliquotTemplate">
                                    </DxComboBox>
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="@Translations.Sources" ColSpanLg="4" ColSpanMd="6">
                                <Template>
                                    <DxSpinEdit @bind-Value="@TemplatesViewModel.SourceCount"></DxSpinEdit>
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="@Translations.Materials" ColSpanLg="4" ColSpanMd="6">
                                <Template>
                                    <DxSpinEdit @bind-Value="@TemplatesViewModel.MaterialCount"></DxSpinEdit>
                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="@Translations.Aliquots" ColSpanLg="4" ColSpanMd="6">
                                <Template>
                                    <DxSpinEdit @bind-Value="@TemplatesViewModel.AliquotCount"></DxSpinEdit>
                                </Template>
                            </DxFormLayoutItem>
                        </DxFormLayout>
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem  Context="ButtonContext" ColSpanLg="2" ColSpanMd="2">
                    <Template>
                        <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
                            <DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">
                                <Template>
                                    <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 16px;">@Translations.Generate</button>
                                </Template>
                            </DxFormLayoutItem>

                        </DxFormLayout>
                    </Template>
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditForm>
    </div>
    

    <div class="col-sm-12">
        <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
            <DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">
                <Template Context="GridContext">
                    <DxDataGrid Data="@DataSource"
                                ShowFilterRow="@false"
                                ShowPager="@false"
                                AllowDataRowSelection="@false"
                                PageSize="@BaseSettings.MaxBatchRegistrationSize">

                        <DxDataGridColumn Field="@nameof(BatchRegistrationDto.SourceBarcode)" Caption="@Translations.SourceBarcode">
                            
                        </DxDataGridColumn>

                        <DxDataGridColumn Field="@nameof(BatchRegistrationDto.SourceTypeId)" Caption="@Translations.SourceType">
                        </DxDataGridColumn>

                        <DxDataGridDateEditColumn Field="@nameof(BatchRegistrationDto.MaterialBarcode)" Caption="@Translations.MaterialBarcode">
                        </DxDataGridDateEditColumn>

                        <DxDataGridColumn Field="@nameof(BatchRegistrationDto.MaterialTypeId)" Caption="@Translations.MaterialType">
                        </DxDataGridColumn>

                        <DxDataGridColumn Field="@nameof(BatchRegistrationDto.AliquotBarcode)" Caption="@Translations.AliquotBarcode">
                        </DxDataGridColumn>

                        <DxDataGridColumn Field="@nameof(BatchRegistrationDto.AliquotLocation)" Caption="@Translations.AliquotLocation">
                        </DxDataGridColumn>
                    </DxDataGrid>
                    
                </Template>
            </DxFormLayoutItem>
        </DxFormLayout>

    </div>
</div>