@using Microsoft.AspNetCore.Components
@using BV.PACS.WEB.Client.Shared.Components
@inherits BV.PACS.WEB.Client.Shared.Base.TrackingForm< BV.PACS.WEB.Client.I18nText.AliquotTrackingForm>
<h1>@Translations.Caption</h1>

<div class="row">

    <div class="card demo-card alert alert-primary background-white">
        <div class="card-body  border-top-0">
            <DxTabs @bind-ActiveTabIndex="@ActiveTabIndex">
                <DxTab Text="@Translations.GeneralInfo"></DxTab>
                <DxTab Text="@Translations.Tests"></DxTab>
                <DxTab Text="@Translations.CheckoutHistory"></DxTab>
                <DxTab Text="@Translations.AuditLog"></DxTab>
            </DxTabs>
            <div class="card demo-card dxbs-border-top-0 dxbs-border-radius-top-0">
                <div class="card-body">
                    @switch (ActiveTabIndex)
                    {
                        case 0:
                            <AliquotTrackingPanel Id=@Id
                                                  @ref=@TrackingPanel @ref:suppressField>

                            </AliquotTrackingPanel>
                            break;
                        case 1:
                            <AliquotTestPanel Id=@Id>

                            </AliquotTestPanel>
                            break;
                        case 2:
                            <i>"Checkout history" tab is active.</i>
                            break;
                        case 3:
                            <AliquotAuditPanel Id=@Id>
                            </AliquotAuditPanel>
                            break;
                    }
                </div>
            </div>
            <OkCancelPanel OnOk="@DoOk"
                           OnCancel="@DoCancel">
            </OkCancelPanel>
        </div>
    </div>

</div>

