
@using BV.PACS.WEB.Shared.Models
@inherits BV.PACS.WEB.Client.Aliquots.AliquotSearchPanelCode

<DxFormLayout CaptionPosition="@CaptionPosition.Vertical">


    <DxFormLayoutItem Caption="@Translations.AliquotBarcode" ColSpanLg="12" ColSpanMd="12">
        <Template>
            <DxTextBox @bind-Text="@AliquotBarcode"></DxTextBox>
        </Template>
    </DxFormLayoutItem>

    <DxFormLayoutItem Caption="@Translations.AliquotCreationDateFrom" ColSpanLg="6" ColSpanMd="12">
        <Template>
            <DxDateEdit @bind-Date="@StartDate"></DxDateEdit>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="@Translations.AliquotCreationDateTo" ColSpanLg="6" ColSpanMd="12">
        <Template>
            <DxDateEdit @bind-Date="@EndDate"></DxDateEdit>
        </Template>
    </DxFormLayoutItem>

    <DxFormLayoutItem Caption="@Translations.AliquotTemplateName" ColSpanLg="12" ColSpanMd="12">
        <Template>
            <DxComboBox Data="@Templates"
                        TextFieldName="Name"
                        NullText="@PacsMessagesTranslations.SelectTemplate"
                        @bind-SelectedItem="@Template">
            </DxComboBox>
        </Template>
    </DxFormLayoutItem>


    <DxFormLayoutItem ColSpanLg="6" ColSpanMd="6">
        <Template>
            <button @onclick="@DoSearch" class="btn btn-primary">@Translations.Search</button>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem ColSpanLg="6" ColSpanMd="6">
        <Template>
            <button @onclick="@DoClear" class="btn btn-secondary">@Translations.Clear</button>
        </Template>
    </DxFormLayoutItem>
</DxFormLayout>
