
@using BV.PACS.WEB.Shared.Models
@inherits BV.PACS.WEB.Client.Aliquots.AliquotSearchPanelCode

<DxFormLayout CaptionPosition="@CaptionPosition.Vertical">


    <DxFormLayoutItem Caption="@nameof(AliquotCatalogDto.AliquotBarcode)" ColSpanLg="12" ColSpanMd="12">
        <Template>
            <DxTextBox @bind-Text="@AliquotBarcode"></DxTextBox>
        </Template>
    </DxFormLayoutItem>

    <DxFormLayoutItem Caption="@nameof(AliquotCatalogDto.AliquotCreationDate)" ColSpanLg="6" ColSpanMd="12">
        <Template>
            <DxDateEdit @bind-Date="@StartDate"></DxDateEdit>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="@nameof(AliquotCatalogDto.AliquotCreationDate)" ColSpanLg="6" ColSpanMd="12">
        <Template>
            <DxDateEdit @bind-Date="@EndDate"></DxDateEdit>
        </Template>
    </DxFormLayoutItem>

    <DxFormLayoutItem Caption="@nameof(AliquotCatalogDto.AliquotTemplateName)" ColSpanLg="12" ColSpanMd="12">
        <Template>
            <DxComboBox Data="@Templates"
                        TextFieldName="Name"
                        NullText="Select Template ..."
                        @bind-SelectedItem="@Template">
            </DxComboBox>
        </Template>
    </DxFormLayoutItem>


    <DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">
        <Template>
            <button @onclick="@DoSearch" class="btn btn-primary">Search</button>
        </Template>
    </DxFormLayoutItem>
</DxFormLayout>
