@using BV.PACS.WEB.Shared.Models
@inherits BV.PACS.WEB.Client.Shared.Base.AuditPanelRecord<BV.PACS.WEB.Shared.Models.MaterialAuditGridDto, BV.PACS.WEB.Client.I18nText.MaterialAuditPanel>

<DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">

    <Template Context="GridContext">
        <div class="card-header">
            <button type="button" class="btn btn-link" @onclick=@DoClick>@AuditTitle</button>
        </div>
        @if (AuditData.GroupVisibility)
        {
            <DxDataGrid Data=@AuditData.Data
                        ShowFilterRow="@false"
                        ShowPager="@false"
                        AllowDataRowSelection="@false"
                        PageSize="@BaseSettings.MaxSize">
                <DxDataGridColumn Field="@nameof(MaterialAuditGridDto.ColumnName)" Caption="@Translations.ColumnName"></DxDataGridColumn>
                <DxDataGridColumn Field="@nameof(MaterialAuditGridDto.OldValue)" Caption="@Translations.OldValue"></DxDataGridColumn>
                <DxDataGridColumn Field="@nameof(MaterialAuditGridDto.NewValue)" Caption="@Translations.NewValue"></DxDataGridColumn>
                <DxDataGridColumn Field="@nameof(MaterialAuditGridDto.Object)" Caption="@Translations.Object"></DxDataGridColumn>

            </DxDataGrid>
        }

    </Template>
</DxFormLayoutItem>