@using BV.PACS.WEB.Shared.Models
@using Microsoft.AspNetCore.Components
@inherits BV.PACS.WEB.Client.Materials.MaterialTrackingPanelCode



    <div class="row">
        @if (TrackingObject != null)
        {
        <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
            <DxFormLayoutItem Caption="@nameof(MaterialTrackingDto.MaterialBarcode)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@MaterialBarcode"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(MaterialTrackingDto.SourceBarcode)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@SourceBarcode"></DxTextBox>
                </Template>
            </DxFormLayoutItem>


            <DxFormLayoutItem Caption="@nameof(MaterialTrackingDto.MaterialType)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@MaterialType"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            @if (Templates != null)
            {
                <DxFormLayoutItem Caption="@nameof(MaterialTrackingDto.MaterialTemplateName)" ColSpanLg="6" ColSpanMd="12">
                    <Template>
                        <DxComboBox Data="@Templates"
                                    TextFieldName="Name"
                                    NullText="@PacsMessagesTranslations.SelectTemplate"
                                    @bind-SelectedItem="@Template">
                        </DxComboBox>
                    </Template>
                </DxFormLayoutItem>
            }

            <DxFormLayoutItem Caption="@nameof(MaterialTrackingDto.ParentMaterialBarcode)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@ParentMaterialBarcode"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(MaterialTrackingDto.MaterialRegistrationDate)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxDateEdit @bind-Date="@MaterialRegistrationDate"></DxDateEdit>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="Source Type" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@SourceType"></DxTextBox>
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="@nameof(MaterialTrackingDto.MaterialPointOfOrigin)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@MaterialPointOfOrigin"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(MaterialTrackingDto.MaterialOwnerName)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@MaterialOwnerName"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(MaterialTrackingDto.MaterialNote)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@MaterialNote"></DxTextBox>
                </Template>
            </DxFormLayoutItem>


        </DxFormLayout>
        }

    </div>

