@using BV.PACS.WEB.Shared.Models
@inherits BV.PACS.WEB.Client.Materials.MaterialSearchPanelCode

<DxFormLayout CaptionPosition="@CaptionPosition.Vertical">

    <DxFormLayoutItem Caption="@Translations.SourceBarcode" ColSpanLg="12" ColSpanMd="12">
        <Template>
            <DxTextBox @bind-Text="@SourceBarcode"></DxTextBox>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="@Translations.Aliquots" ColSpanLg="12" ColSpanMd="12">
        <Template>
            <DxTextBox @bind-Text="@AliquotBarcode"></DxTextBox>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="@Translations.MaterialBarcode" ColSpanLg="12" ColSpanMd="12">
        <Template>
            <DxTextBox @bind-Text="@MaterialBarcode"></DxTextBox>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="@Translations.MaterialRegistrationDateFrom" ColSpanLg="6" ColSpanMd="12">
        <Template>
            <DxDateEdit @bind-Date="@StartDate"></DxDateEdit>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="@Translations.MaterialRegistrationDateTo" ColSpanLg="6" ColSpanMd="12">
        <Template>
            <DxDateEdit @bind-Date="@EndDate"></DxDateEdit>
        </Template>
    </DxFormLayoutItem>


    <DxFormLayoutItem Caption="@Translations.MaterialTemplateName" ColSpanLg="12" ColSpanMd="12">
        <Template>

            <DxComboBox Data="@Templates"
                        TextFieldName="Name"
                        NullText="@PacsMessagesTranslations.SelectTemplate"
                        @bind-SelectedItem="@Template">
            </DxComboBox>

        </Template>
    </DxFormLayoutItem>

    <DxFormLayoutItem Caption="@Translations.MaterialNote" ColSpanLg="12" ColSpanMd="12">
        <Template>
            <DxTextBox @bind-Text="@MaterialNotes"></DxTextBox>
        </Template>
    </DxFormLayoutItem>

    <DxFormLayoutItem ColSpanLg="6" ColSpanMd="6">
        <Template>
            <button @onclick="@DoSearch" class="btn btn-primary">@Translations.Search</button>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem ColSpanLg="6" ColSpanMd="6">
        <Template>
            <button @onclick="@DoClear" class="btn btn-secondary">@Translations.Clear</button>
        </Template>
    </DxFormLayoutItem>
</DxFormLayout>

