@using BV.PACS.Shared.Models
@using Microsoft.AspNetCore.Components
@{
    if (DataSource == null)
    {
        <div class="row">Loading...</div>
    }
    else
    {
        <DxFormLayoutGroup Caption=@Caption >
            <DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">

                <Template Context="GridContext">
                    <DxDataGrid Data=@DataSource
                                ShowFilterRow="@false"
                                ShowPager="@false"
                                AllowRowSelection="@false"
                                PageSize="@BaseSettings.MaxSize">


                        <DxDataGridColumn Field="@nameof(SourceAuditGridDto.ColumnName)"></DxDataGridColumn>
                        <DxDataGridColumn Field="@nameof(SourceAuditGridDto.OldValue)"></DxDataGridColumn>
                        <DxDataGridColumn Field="@nameof(SourceAuditGridDto.NewValue)"></DxDataGridColumn>
                        <DxDataGridColumn Field="@nameof(SourceAuditGridDto.Object)"></DxDataGridColumn>

                    </DxDataGrid>

                </Template>
            </DxFormLayoutItem>
        </DxFormLayoutGroup>
    }
}


@functions {


    [Parameter]
    public string Caption { get; set; }

    [Parameter]
    public List<SourceAuditGridDto> DataSource { get; set; }

    public bool GroupedSourceVisibility { get; set; }

    public void OnClick()
    {
        GroupedSourceVisibility = !GroupedSourceVisibility;
        StateHasChanged();
    }

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();
    }

}