@layout MainLayout

@page "/SourceCatalog"
@using BV.PACS.Client
@using BV.PACS.Client.Catalogs
@using BV.PACS.Client.Shared
@using BV.PACS.Shared.Models
@inherits BV.PACS.Client.Catalogs.BaseCatalog<BV.PACS.Shared.Models.SourceCatalogDto>

<h1>Source Catalog</h1>

<div class="row">
    <div class="@CatalogState.SearchPanelCssClass">
        <SourceSearchPanel OnSearch="@OnSearchPanelSearch">

        </SourceSearchPanel>
    </div>

    <div class="@CatalogState.GridPanelCssClass">
        <div class="row">

            <div class="col-sm-12">
                <button onclick="@OnSearchPanelToggle" class="btn btn-primary float-right" style="margin-bottom: 16px;">@CatalogState.ShowHideSearchPanelCaption</button>
            </div>
            <div class="col-sm-12">
                <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
                    <DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">
                        <Template Context="GridContext">
                            <DxDataGrid Data="@DataSource"
                                        ShowFilterRow="@false"
                                        ShowPager="@false"
                                        AllowRowSelection="@false"
                                        PageSize="@CatalogState.Condition.PageSize">

                                <DxDataGridColumn Field="@nameof(SourceCatalogDto.SourceBarcode)">
                                    <DisplayTemplate>
                                        <SourceBarcodeCell Context=@context />
                                    </DisplayTemplate>
                                </DxDataGridColumn>
                                <DxDataGridColumn Field="@nameof(SourceCatalogDto.SourceTemplateName)" Caption="Template Name"></DxDataGridColumn>
                                <DxDataGridDateEditColumn Field="@nameof(SourceCatalogDto.SourceCreationDate)"></DxDataGridDateEditColumn>
                                <DxDataGridColumn Field="@nameof(SourceCatalogDto.SourceType)"></DxDataGridColumn>
                            </DxDataGrid>
                            @if (PageCount > 1)
                            {
                                <DxPager PageCount=@PageCount
                                         bind-ActivePageIndex=@ActivePageNumber
                                         CollapseButtonCount=@CatalogState.CollapseButtonCount>
                                </DxPager>
                            }
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </div>
        </div>
    </div>
</div>

