@inject HttpClient _http
@inject LookupService _apiLookupService
@using BV.PACS.Client.Services.Api
@using BV.PACS.Shared.Models
@inherits BV.PACS.Client.Sources.SourceTrackingPanelCode

<div class="row">
    
    @if (TrackingObject != null)
    {
        <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
            <DxFormLayoutItem Caption="@nameof(SourceTrackingDto.SourceBarcode)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@SourceBarcode"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(SourceTrackingDto.SourceRegistrationDate)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxDateEdit bind-Date="@SourceRegistrationDate"></DxDateEdit>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(SourceTrackingDto.SourceType)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@SourceType"></DxTextBox>
                </Template>
            </DxFormLayoutItem>
            @if (Templates != null)
            {
                <DxFormLayoutItem Caption="@nameof(SourceTrackingDto.SourceTemplateName)" ColSpanLg="6" ColSpanMd="12">
                    <Template>

                        <DxComboBox Data="@Templates"
                                    TextFieldName="Name"
                                    NullText="Select Template ..."
                                    bind-SelectedItem="@Template">
                        </DxComboBox>

                    </Template>
                </DxFormLayoutItem>
            }
            <DxFormLayoutItem Caption="@nameof(SourceTrackingDto.SourceNote)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@SourceNote"></DxTextBox>
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="@nameof(SourceTrackingDto.SourcePointOfOrigin)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@SourcePointOfOrigin"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

        </DxFormLayout>
    }



</div>