@inherits PopupEditorCode
<div>
    <div class="input-group">
        <span class="form-control input-group-text">@EditorText</span>
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button" @onclick="@ShowModal">...</button>
        </div>
    </div>
</div>

@if (_modalVisible)
{
    <div class="modal" tabindex="-1" style="display: block" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">@ModalTitle</h5>
                    <button type="button" class="close" @onclick="@Cancel" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    @ChildContent

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@Cancel">@CancelText</button>
                    <button type="button" class="btn btn-primary" @onclick="@Ok">@OkText</button>
                </div>
            </div>
        </div>
    </div>
}