@using BV.PACS.WEB.Client.Pages.Aliquots
@using BV.PACS.WEB.Client.Pages.Materials
@using BV.PACS.WEB.Client.Pages.Sources
@using BV.PACS.WEB.Client.Pages.Tests
@using BV.PACS.WEB.Client.Services.Context
@using Microsoft.AspNetCore.Components
@inherits BV.PACS.WEB.Client.Shared.Base.TranslatablePanel<BV.PACS.WEB.Client.I18nText.TopMenu>


<nav class="navbar navbar-default top-bar ">
    <div class="container-fluid">

        <a class="navbar-brand" href="">@Translations.Logo</a>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <button @onclick="@DoOpenSourceCatalog" class="btn btn-primary">@Translations.SourceCatalog</button>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <button @onclick="@DoOpenMaterialCatalog" class="btn btn-primary">@Translations.MaterialCatalog</button>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <button @onclick="@DoOpenAliquotCatalog" class="btn btn-primary">@Translations.AliquotCatalog</button>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <button @onclick="@DoOpenTestCatalog" class="btn btn-primary">@Translations.TestCatalog</button>
            </li>
        </ul>

        <LanguageSelector></LanguageSelector>

    </div>
</nav>


@functions
{

    [Parameter]
    public Action OnMenuClick { get; set; }


    private void DoOpenSourceCatalog()
    {
        DoOpenCatalogPage(nameof(SourceCatalog));
    }

    private void DoOpenMaterialCatalog()
    {
        DoOpenCatalogPage(nameof(MaterialCatalog));
    }

    private void DoOpenAliquotCatalog()
    {
        DoOpenCatalogPage(nameof(AliquotCatalog));
    }

    private void DoOpenTestCatalog()
    {
        DoOpenCatalogPage(nameof(TestCatalog));
    }

    private void DoOpenCatalogPage(string pageName)
    {
        ApplicationContextService.OpenLastOrNewCatalogPage(pageName);
        OnMenuClick?.Invoke();
    }

    private void DoOpenTrackingPage(string pageName, int context)
    {
        ApplicationContextService.OpenTrackingPage(pageName, context);
        OnMenuClick?.Invoke();
    }

}