@using BV.PACS.WEB.Client.Pages.Aliquots
@using BV.PACS.WEB.Client.Pages.Materials
@using BV.PACS.WEB.Client.Pages.Sources
@using BV.PACS.WEB.Client.Pages.Tests
@inherits TopMenuCode


<nav class="navbar navbar-default top-bar ">
    <div class="container-fluid">

        <a class="navbar-brand" href="">@Translations.Logo</a>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <button @onclick="@DoOpenSourceCatalog" class="btn btn-primary">@Translations.SourceCatalog</button>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <button @onclick="@DoOpenMaterialCatalog" class="btn btn-primary">@Translations.MaterialCatalog</button>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <button @onclick="@DoOpenAliquotCatalog" class="btn btn-primary">@Translations.AliquotCatalog</button>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <button @onclick="@DoOpenTestCatalog" class="btn btn-primary">@Translations.TestCatalog</button>
            </li>
        </ul>

        <LanguageSelector></LanguageSelector>

    </div>
</nav>

