@using BV.PACS.WEB.Client.Pages
@using Microsoft.AspNetCore.Components

@inherits BV.PACS.WEB.Client.Shared.Base.TranslatablePanel<BV.PACS.WEB.Client.I18nText.StartForm>
<h1>@Translations.Caption</h1>

<div class="row alert alert-primary background-white">
    <div class="col-sm-12">

        <span class="oi oi-pencil mr-2" aria-hidden="true"></span>

        <strong>@Translations.Description</strong>



        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" @onclick="@ShowModal">
            Launch demo modal
        </button>

   
        @if (_showModal)
        {
           

            <div class="modal" tabindex="-1" style="display:block" role="dialog">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            body
                        </div>
                        <div class="modal-footer">
                  
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"  @onclick="@close">Close</button>
                            <button type="button" class="btn btn-primary"  @onclick="@save">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        }


       

    </div>
</div>
@functions
{
    bool _showModal = false;

    protected void ShowModal()
    {
        _showModal = true;
        StateHasChanged();
    }

    protected void close()
    {
        _showModal = false;
        StateHasChanged();
    }
    protected void save()
    {
        _showModal = false;
        StateHasChanged();
    }
}
