@using BV.PACS.WEB.Client.Pages
@using BV.PACS.WEB.Client.Shared.Components
@using Microsoft.AspNetCore.Components

@inherits BV.PACS.WEB.Client.Shared.Base.TranslatablePanel<BV.PACS.WEB.Client.I18nText.StartForm>
<h1>@Translations.Caption</h1>

<div class="row alert alert-primary background-white">
    <div class="col-sm-12">

        <span class="oi oi-pencil mr-2" aria-hidden="true"></span>

        <strong>@Translations.Description</strong>



        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" @onclick="@ShowModal">
            Launch demo modal
        </button>

        <ModalDialog 
                     OnOk="@save"
                     OkText="OK"
                     OnCancel="@close"
                     CancelText="Cancel"
                     Show="@_showModal">
            Content
        </ModalDialog>




    </div>
</div>
@functions
{
    bool _showModal = false;

    protected void ShowModal()
    {
        _showModal = true;
        StateHasChanged();
    }

    protected void close()
    {
        _showModal = false;
        StateHasChanged();
    }
    protected void save()
    {
        _showModal = false;
        StateHasChanged();
    }
}
