@using BV.PACS.Shared.Models
@inherits BV.PACS.Client.Shared.Base.AuditPanel<BV.PACS.Shared.Models.AliquotAuditGridDto>

@{
    if (GroupedData == null)
    {
        <div class="row">Loading...</div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">

                    @foreach (var group in GroupedData)
                    {
                        <DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">

                            <Template Context="GridContext">
                                <div class="card-header">
                                    <button type="button" class="btn btn-link" @onclick=@{() => OnClick(group.Key)}>@group.Key</button>
                                </div>
                                @if (GroupedData[group.Key].GroupVisibility)
                                {
                                    <DxDataGrid Data=@GroupedData[group.Key].Data
                                                ShowFilterRow="@false"
                                                ShowPager="@false"
                                                AllowRowSelection="@false"
                                                PageSize="@BaseSettings.MaxSize">
                                        <DxDataGridColumn Field="@nameof(AliquotAuditGridDto.ColumnName)"></DxDataGridColumn>
                                        <DxDataGridColumn Field="@nameof(AliquotAuditGridDto.OldValue)"></DxDataGridColumn>
                                        <DxDataGridColumn Field="@nameof(AliquotAuditGridDto.NewValue)"></DxDataGridColumn>
                                        <DxDataGridColumn Field="@nameof(AliquotAuditGridDto.Object)"></DxDataGridColumn>

                                    </DxDataGrid>
                                }

                            </Template>
                        </DxFormLayoutItem>
                    }

                </DxFormLayout>

            </div>
        </div>
    }
}