@using BV.PACS.Shared.Models
@inherits BV.PACS.Client.Shared.Base.Catalog<BV.PACS.Shared.Models.AliquotCatalogDto>
@inject HttpClient _http

<h1>Aliquot Catalog</h1>


<div class="row">
    <div class="@PageContext.SearchPanelCssClass" >
        <AliquotSearchPanel OnSearch="@OnSearchPanelSearch">

        </AliquotSearchPanel>
    </div>

    <div class="@PageContext.GridPanelCssClass" >
        <div class="row">

            <div class="col-sm-12">
                <button @onclick="@OnSearchPanelToggle" class="btn btn-primary float-right" style="margin-bottom: 16px;">@PageContext.ShowHideSearchPanelCaption</button>
            </div>
            <div class="col-sm-12">
                <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
                    <DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">
                        <Template Context="GridContext">
                            <DxDataGrid Data="@DataSource"
                                        ShowFilterRow="@false"
                                        ShowPager="@false"
                                        AllowRowSelection="@false"
                                        PageSize="@PageContext.Condition.PageSize">

                                <DxDataGridColumn Field="@nameof(AliquotCatalogDto.AliquotBarcode)">
                                    <DisplayTemplate>
                                        <AliquotBarcodeCell Context="@context"
                                                            OnCellClick="@OnSelectItem"/>
                                    </DisplayTemplate>
                                </DxDataGridColumn>
                                <DxDataGridColumn Field="@nameof(AliquotCatalogDto.AliquotTemplateName)" Caption="Template Name"></DxDataGridColumn>
                                <DxDataGridDateEditColumn Field="@nameof(AliquotCatalogDto.AliquotCreationDate)"></DxDataGridDateEditColumn>
                                <DxDataGridColumn Field="@nameof(AliquotCatalogDto.AliquotStatus)"></DxDataGridColumn>
                            </DxDataGrid>
                            @if (PageCount > 1)
                            {
                                <DxPager PageCount=@PageCount
                                         @bind-ActivePageIndex=@ActivePageNumber
                                         CollapseButtonCount=@BaseSettings.CollapseButtonCount>
                                </DxPager>
                            }
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </div>
        </div>
    </div>
</div>


@functions {
}