@using BV.PACS.Shared.Models
@inherits BV.PACS.Client.Aliquots.AliquotTrackingPanelCode


<div class="row">
    @if (TrackingObject != null)
    {
        <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.AliquotBarcode)" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@AliquotBarcode"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.MaterialType)" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@MaterialType"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            @if (Templates != null)
            {
                <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.AliquotTemplateName)" ColSpanLg="12" ColSpanMd="12">
                    <Template>

                        <DxComboBox Data="@Templates"
                                    TextFieldName="Name"
                                    NullText="Select Template ..."
                                    bind-SelectedItem="@Template">
                        </DxComboBox>

                    </Template>
                </DxFormLayoutItem>
            }

            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.Passage)" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxSpinEdit bind-Value="@Passage"></DxSpinEdit>
                </Template>
            </DxFormLayoutItem>


            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.AliquotCreationDate)" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxDateEdit bind-Date="@AliquotCreationDate"></DxDateEdit>
                </Template>
            </DxFormLayoutItem>


            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.MaterialBarcode)" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@MaterialBarcode"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.AliquotStatus)" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@AliquotStatus"></DxTextBox>
                </Template>
            </DxFormLayoutItem>


            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.AliquotParentBarcode)" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@AliquotParentBarcode"></DxTextBox>
                </Template>
            </DxFormLayoutItem>


            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.LocationPath)" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@LocationPath"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.Volume)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxSpinEdit bind-Value="@Volume"></DxSpinEdit>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.VolumeUnitName)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@VolumeUnitName"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.Weight)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxSpinEdit bind-Value="@Weight"></DxSpinEdit>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.WeightUnitName)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@WeightUnitName"></DxTextBox>
                </Template>
            </DxFormLayoutItem>


            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.AliquotNote)" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@AliquotNote"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(AliquotTrackingDto.DerivativeType)" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox bind-Text="@DerivativeType"></DxTextBox>
                </Template>
            </DxFormLayoutItem>


        </DxFormLayout>
    }

</div>

@functions {
}