@using BV.PACS.WEB.Shared.Models
@inherits BV.PACS.WEB.Client.Tests.TestSearchPanelCode

<DxFormLayout CaptionPosition="@CaptionPosition.Vertical">


    <DxFormLayoutItem Caption="@Translations.TestBarcode" ColSpanLg="12" ColSpanMd="12">
        <Template>
            <DxTextBox @bind-Text="@TestBarcode"></DxTextBox>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="@Translations.TestRegistrationDateFrom" ColSpanLg="6" ColSpanMd="12">
        <Template>
            <DxDateEdit @bind-Date="@StartDate"></DxDateEdit>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="@Translations.TestRegistrationDateTo" ColSpanLg="6" ColSpanMd="12">
        <Template>
            <DxDateEdit @bind-Date="@EndDate"></DxDateEdit>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="@Translations.TestTemplateName" ColSpanLg="12" ColSpanMd="12">
        <Template>

            <DxComboBox Data="@Templates"
                        TextFieldName="Name"
                        NullText="@PacsMessagesTranslations.SelectTemplate"
                        @bind-SelectedItem="@Template">
            </DxComboBox>

        </Template>
    </DxFormLayoutItem>


    <DxFormLayoutItem ColSpanLg="6" ColSpanMd="6">
        <Template>
            <button @onclick="@DoSearch" class="btn btn-primary">@Translations.Search</button>
        </Template>
    </DxFormLayoutItem>
    <DxFormLayoutItem ColSpanLg="6" ColSpanMd="6">
        <Template>
            <button @onclick="@DoClear" class="btn btn-secondary">@Translations.Clear</button>
        </Template>
    </DxFormLayoutItem>
</DxFormLayout>
