@using BV.PACS.WEB.Shared.Models
@inherits BV.PACS.WEB.Client.Tests.TestTrackingPanelCode


<div class="row">
    @if (TrackingObject != null)
    {
        <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
            <DxFormLayoutItem Caption="@nameof(TestTrackingDto.TestBarcode)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@TestBarcode"></DxTextBox>
                </Template>
            </DxFormLayoutItem>
            @if (Templates != null)
            {
                <DxFormLayoutItem Caption="@nameof(TestTrackingDto.TestTemplateName)" ColSpanLg="6" ColSpanMd="12">
                    <Template>

                        <DxComboBox Data="@Templates"
                                    TextFieldName="Name"
                                    NullText="Select Template ..."
                                    @bind-SelectedItem="@Template">
                        </DxComboBox>

                    </Template>
                </DxFormLayoutItem>
            }

            <DxFormLayoutItem Caption="@nameof(TestTrackingDto.TestType)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@TestType"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(TestTrackingDto.TestRegistrationDate)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxDateEdit @bind-Date="@TestRegistrationDate"></DxDateEdit>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(TestTrackingDto.TestResult)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@TestResult"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(TestTrackingDto.TestStatus)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@TestStatus"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(TestTrackingDto.TestDate)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxDateEdit @bind-Date="@TestDate"></DxDateEdit>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(TestTrackingDto.SourceBarcode)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@SourceBarcode"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(TestTrackingDto.MaterialBarcode)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@MaterialBarcode"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(TestTrackingDto.AliquotBarcode)" ColSpanLg="6" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@AliquotBarcode"></DxTextBox>
                </Template>
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="@nameof(TestTrackingDto.TestNote)" ColSpanLg="12" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text="@TestNote"></DxTextBox>
                </Template>
            </DxFormLayoutItem>


        </DxFormLayout>
    }

</div>